canvas {
    /*width: 608;
    height: 608;
    border: 3px solid rgb(153, 0, 255);*/
    display: block;
    margin: 0 auto;  
    box-shadow: 1px 3px 36px 5px rgba(0,0,0,0.75);  
}

.section {
    /* Block stuff*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    background-color: cornsilk;

    /* Border stuff */
    border-style: dashed;
    border-color: #f5af00;
    border-width: 10px;
    
    /* Font stuff*/
    font-size: 23px;
    font-family: 'Press Start 2P', cursive;
}